@import url(https://fonts.googleapis.com/css2?family=Syne+Mono);
body{
    /* centre le jeu dans l'écran */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

#game{
    background-color: #111;
    --w:896px;
    --h:448px;
}

/*.ecran-debut{
    transition: all 3s;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
.ecran-debut{
    transition: all 2s;
    transition-duration: 1s;
    will-change: opacity, filter;
    opacity: 1;
    filter: blur(0px);
}
.ecran-debut.invisible{
    pointer-events: none;
    opacity: 0;
    filter: blur(15px);
}
*/